
@import url("http://www.google.com/uds/solutions/localsearch/gmlocalsearch.css");

root {
    display: block;

}
body{


    text-align: justify;
    font-family: 'Times New Roman',Times,serif;
    background-image: url(http://localhost/Gcare/public/images/gmap.jpg);


}
#header{

     background-color: #cccccc;
    width: 900px;
    height: 100px;
    margin-left: 225px;
    margin-right: 300px;

position:relative;
    background-image: url(http://localhost/Gcare/public/images/header1.png);
	background-repeat:no-repeat;

}
#content{
     position: relative;

  width: 900px;
  height:550px;

    margin-left: 225px;
    margin-right: 300px;

    background-color: #eae6dd;
   

}
#content2{
    position: relative;

  width: 900px;
  height:800px;

    margin-left: 225px;
    margin-right: 300px;

    background-color: #eae6dd;
}
#menubar{
    width: 885px;
    height: 29px;
    background-repeat:no-repeat;
padding-top:13px;
padding-left:15px;
font-family: 'Times New Roman',Times,serif;
background-color: #ebe9d4;
 border-top-width: 2px;
    border-top-style: groove;
    border-top-color: #660000;
border-bottom-style: groove;
    border-bottom-width: 2px;
    border-bottom-color: #660000;
}
.search{
    padding-left:15px;
    padding-top:10px;
   
}

#acc{
    position:absolute;
    margin-right:0px;
   float:right;
   

}


#pane{
margin-left:500px;

margin-top:0px;   
}
#image{
    padding-left:100px;
    padding-top:25px;   
}
#user{
    padding-right:15px;
    margin-left:15px;
	padding-top:5px;
	padding-bottom:5px;
}
#controlpanel{
    width:700px;
    height:300px;;
    margin-top:50px;
    margin-left:100px;
    padding:5px;
    background-color: #ebe9d4;
}
#tcustomers td{
	border:1px solid #ccc;
}
#footer{
    margin-left: 225px;
    margin-right: 300px;
    width: 900px;
    height: 80px; 
    position:absolute;
    text-align:center;
    background-color: #ebe9d4;
   
}



  


